.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://res.cloudinary.com/dwp6uyiir/image/upload/v1679153330/518097-background-hd_pxytm2.jpg");
}
